html, body {
background-image: url("website_background.png");
background-color: transparent;
background-repeat: no-repeat;
background-size: auto;
background-repeat: round;
background-attachment: scroll;
background-origin: content-box;
background-blend-mode: color;
background: scroll;
}
html, body, body * {
color: white;
font-family: Arial;
}
a, a * {
color: white;
font-family: Arial;
}
button {
border: 1px solid rgb(255, 0, 0);
border-radius: 10px;
background-color: rgb(255, 0, 0);
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;

  
