body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #17223B;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #0F4C75;
}

h1.logo {
  font-size: 34px; /* Adjust the font size to make the logo smaller */
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 40px;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
}

.search-bar input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff; /* Change the text color to white */
  outline: none;
  transition: background-color 0.3s ease;
}

.search-bar input:focus {
  background-color: rgba(25, 23, 25, 0.3);
}

.tips-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.tip-card {
  background-color: #00021c;
  padding: 20px;
  border-radius: 10px;
}


.my-button {
  background-color: #0f08cf; /* Set the background color of the button */
  border: none; /* Remove the button border */
  color: white; /* Set the text color of the button */
  padding: 10px 20px; /* Adjust the padding to control the button size */
  text-align: center; /* Center the text within the button */
  text-decoration: none; /* Remove any text decoration */
  display: inline-block; /* Make the button display as an inline block */
  font-size: 16px; /* Set the font size of the button */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  border-radius: 4px; /* Add rounded corners to the button */
}

.my-button:hover {
  background-color: #0600ab; /* Change the background color on hover */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.my-button {
  /* Your button styles here */
}

.footer {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

