/*We have already set the text-align property as center in the HTML code. Below provided CSS is added just to make the output look better.*/
body {
     margin: auto;
     width: 640px;
     padding: 50px;
     font-family: 'Avenir', sans-serif;
     color: #ffff;
}
 img{
     padding: 10px;
}


#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#121212 0%, #121212 40%, #121212 100%);
}


