body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #17223B;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-scolor: #0F4C75;
}


h1 {
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 40px;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
}

.search-bar input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff; /* Change the text color to white */
  outline: none;
  transition: background-color 0.3s ease;
}

.search-bar input:focus {
  background-color: rgba(25, 23, 25, 0.3);
}
.tips-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.tip-card {
  background-color: #00021c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.tip-card:hover {
  transform: translateY(-5px);
}

.tip-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.tip-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

footer {
  background-color: #0F4C75;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #fff;
}

#yt-link > i {
  color: rgb(239, 83, 80);
}
.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

